#inicio_clientes{
	position: relative;
	display: block;
	width: 100%;
	top: 60px;
	margin: 0;
	padding: 5px;
}
#inicio_clientes h1{
	text-align: center;
	justify-content: center;
	margin: 7px;
	padding: 5px;
	font-family: 'Italianno', cursive;
	color: white;
	font-size: 50px;
}
#inicio_clientes b{
	text-align: center;
	justify-content: center;
	display: inline-block;;
	font-size: 16px;
	margin: 2px 10px 10px 10px;
	padding: 2px 5px 10px 5px;
	color: white;
	}
#borde2{
	width: 100%;
}
#panel_clientes{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	top: 60px;
	padding: 20px;
	/*background: yellow;*/
}
#panel_clientes .cliente{
	position: relative;
	width: 220px;
	height: 220px;
	margin: 5px;
	padding: 5px;
	/*background: white;*/
}
#panel_clientes .cliente div{
	width: 180px;
	height: 180px;
	margin: auto;
	padding: 5px;
	/*background: red;*/
	overflow: hidden;
	border: 2px solid white;
}
#panel_clientes .cliente div img{
	width: 100%;
	height: 100%;
	margin: auto;
	transition: all 0.5s;
}
#panel_clientes .cliente div img:hover{
	filter: opacity(0.2);
    transform: scale(1.2);
}
