#pie_pagina{
	position: relative;
	width: 100%;
	height: 100px;
	margin: 10px 0 0 0;
	top: 60px;
	justify-content: center;
	background: white;
	display: flex;
	flex-direction: column;
}

#pie_pagina #lista_redes{
	display: flex;
	justify-content: center;
}
#pie_pagina li{
	text-align: left;
	flex-grow: 1;
}
#pie_pagina a{
	justify-content: center;
}
#pie_pagina a img{
	width: 20px;
	margin: 5px;
	bottom: 0;
	transition: all 0.5s;
}
#pie_pagina a img:hover{
	transform: scale(1.8);
}
#pie_pagina p{
	display: inline;
	margin: 1px;
	text-align: center;
	bottom: 0;
	color: black;
	font-size: 16px;
}